@import './geral.css';
@import './header.css';
@import './card.css';
@import './modal.css';
@import './pagination.css';
@import './carrinho.css';
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Correção do Footer sem Bootstrap */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-coluna {
  margin-bottom: 20px;
  min-width: 250px;
}
.footer-rodape {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header-menu li a {
  text-decoration: none;
  font-weight: bold;
  color: #ff0000
}

/* Estilo para o link de Sair */
.header-menu li a[href="logout.php"]:hover {
  text-decoration: underline;
  color: #ff0000 !important;
}