/* geral.css */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Rolagem suave ao clicar em links âncora */
}

body {
  margin: 0;
  padding: 0;
  /* Personalização da Scrollbar para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #3498db #f4f6f9;
}

/* Personalização da Scrollbar para Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f6f9; 
}

::-webkit-scrollbar-thumb {
  background: #c1c9d2; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3498db; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}